<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Departments</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<div>Departments table</div>
<div><p style="color: red;">Error message</p></div>

<table style="width:100%">
    <tr>
        <th>Department Name</th>
        <th>Number of employees</th>
        <th>Employees</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td>5g department</td>
        <td>2</td>
        <td>
            <p>Jovan Davchev</p>
            <p>Bill Gates</p>
        </td>
        <td>
            <form>
                <button type="submit" style="color: red"><i>Delete</i></button>
            </form>
        </td>
    </tr>
    <tr>
        <td>Chipping department</td>
        <td>2</td>
        <td>
            <p>Jovan Davchev</p>
            <p>Bill Gates</p>
        </td>
        <td>
            <form>
                <button type="submit" style="color: red"><i>Delete</i></button>
            </form>
        </td>
    </tr>
    <tbody>
    <tr th:each="d : ${departments}">
        <td th:text="${d.getName()}"></td>
        <td th:text="${d.getEmployees().size()}"></td>
        <td th:text="${d.getEmployees()}"></td>

        <td class="text-right">
            <form th:action="@{/departments/{id}/delete(id=${d.getId()})}" th:method="delete">
                <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash">Delete</i></button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<br/>
<div style="margin-left: 200px">
    <div>Form</div>
    <form action="/departments"
          method="post">
        <div>
            <label for="name">Department name</label>
            <input type="text"
                   id="name"
                   name="name"
                   required
                   placeholder="Enter department name">
        </div>

        <button type="submit" style="color: cadetblue;">Save</button>
    </form>
</div>

</body>
</html>